<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Связь со мной</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="scripts/banner.js"></script>
</head>
<body>

	<header>
		<div id="logo">
			<a href="index.html" title="Перейти на главную">
				<span>М</span>арсель
				<span>Ф</span>аткуллин
			</a>
		</div>

		<div id="menuHead">
		<a href="about.html">
			<div style="margin-right: 5%">Обо мне</div>
		</a>
		<a href="/feedback.html">
			<div>Обратная связь</div>
		</a>
		</div>

		<div id="regAuth">
		<a href="/auth.html">
			<div>Авторизация</div>
		</a>
		</div>
	</header>

	<div id="wrapper">
		<div id="leftCol">
			<div id="about_us">
				<h2>Заполните форму</h2>
		<form method="post" action="handler.php">
		   <table width="100%" cellspacing="0" cellpadding="4">
			    <tr> 
			     <td align="right" width="100">ФИО </td>
			     <td><input type="text" name="nickname" maxlength="50" size="20" style="margin: 1%"></td>
			    </tr>
			    <tr> 
			     <td align="right">E-mail </td>
			     <td><input type="text" name="email" maxlength="50" size="20" style = "margin: 1%"></td>
			    </tr>
			    <tr> 
			     <td align="right" valign="top" margin-top: 20%>Комментарий</td>
			     <td><textarea name="text" cols="35" rows="10" style = "margin: 1%"></textarea></td>
			    </tr>
			    <tr> 
			     <td></td>
			     <td><input type="submit" value="Отправить"></td>
			    </tr>
		   </table>
		</form>
                            
			</div>
		</div>

		<div id="rightCol">
			<div id="banner">
				<img src="img/banner_2.png" alt="Java" title="Java">
				<h3 id="nameBanner2"></h3>
			</div>
			<div id="banner">
				<img src="img/banner_3.png" alt="JS" title="JS">
				<h3 id="nameBanner3"></h3>
			</div>
			<div id="banner">
			<img src="img/banner_1.png" alt="C#" title="C#">
			<h3 id="nameBanner1"></h3>
		</div>
			<div id="banner">
				<img src="img/banner_4.png" alt="HTML&CSS" title="HTML&CSS">
				<h3 id="nameBanner4"></h3>
			</div>
		</div>
		</div>

	</div>

	<footer>
		<div id="social">
			<a href="https://vk.com/id56833040" title="Страница в Вк" target="_blank">
				<img src="img/vk.png" alt="Вк" title="Вконтакте">
			</a>
		</div>
		<div id="rights">
			Все права защищены &copy; <?=date ('Y')?>
		</div>

	</footer>

</body>
</html>