<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Марсель Фаткуллин</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="scripts/article.js"></script>
	<script type="text/javascript" src="scripts/banner.js"></script>
</head>
<body>
	<header>
		<div id="logo">
			<a href="/" title="Перейти на главную">
				<span>М</span>арсель
				<span>Ф</span>аткуллин
			</a>
		</div>

		<div id="menuHead">
		<a href="about.html">
			<div style="margin-right: 5%">Обо мне</div>
		</a>
		</div>

		<div id="regAuth">
		<a href="addPost.html">
			<div>Добавить новый пост</div>
		</a>
		</div>
	</header>

	<div id="wrapper">
		<div id="leftCol">

							<h2>Мои работы</h2>
							<br>
			<div id="bigArticle">
				<img src="img/articles/1.png" alt="Статья 1" title="Статья 1">
				<h2 id="name1"></h2>
				<p id="p1"></p>
				<input type="button" value="Далее" id = "moreArticle1"/>
			</div>
			<div class="clear">
				<br>
			</div>

			<div class="article">
				<img src="img/articles/2.png" alt="Статья 2" title="Статья 2">
				<h2 id="name2"></h2>
				<p id="p2"></p>
				<input type="button" value="Далее" id = "moreArticle2"/>
			</div>

			<div class="article">
				<img src="img/articles/3.png" alt="Статья 3" title="Статья 3">
				<h2 id="name3"></h2>
				<p id="p3"></p>
				<input type="button" value="Далее" id = "moreArticle3"/>
			</div>
			<div class="clear">
				<br>
			</div>
			<div class="article">
				<img src="img/articles/4.png" alt="Статья 4" title="Статья 4">
				<h2 id="name4"></h2>
				<p id="p4"></p>
				<input type="button" value="Далее" id = "moreArticle4"/>
			</div>
			<div class="article">
				<img src="img/articles/5.png" alt="Статья 5" title="Статья 5">
				<h2 id="name5"></h2>
				<p id="p5"></p>
				<input type="button" value="Далее" id = "moreArticle5"/>
			</div>
		</div>

		<div id="rightCol">
<h5>Нажмите для подробной информации</h5>
			<div id="banner">
				<img src="img/banner_2.png" alt="Java" title="Java">
				<h3 id="nameBanner2"></h3>
			</div>
			<div id="banner">
				<img src="img/banner_3.png" alt="JS" title="JS">
				<h3 id="nameBanner3"></h3>
			</div>
			<div id="banner">
			<img src="img/banner_1.png" alt="C#" title="C#">
			<h3 id="nameBanner1"></h3>
			</div>
			<div id="banner">
				<img src="img/banner_4.png" alt="HTML&CSS" title="HTML&CSS">
				<h3 id="nameBanner4"></h3>
			</div>
		</div>


	</div>

	<footer>
		<div id="social">
			<a href="https://vk.com/id56833040" title="Страница в Вк" target="_blank">
				<img src="img/vk.png" alt="Вк" title="Вконтакте">
			</a>
		</div>
		<div id="rights">
			Все права защищены &copy; <?=date ('Y')?>
		</div>
	</footer>

</body>
</html>