<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><?=$title?></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<header>
		<div id="logo">
			<a href="/" title="Перейти на главную">
				<span>М</span>арсель
				<span>Ф</span>аткуллин
			</a>
		</div>

		<div id="menuHead">
		<a href="about.html">
			<div style="margin-right: 5%">Обо мне</div>
		</a>
		<a href="/feedback.html">
			<div>Обратная связь</div>
		</a>
		</div>

		<div id="regAuth">
		<a href="/auth.html">
			<div>Авторизация</div>
		</a>
		</div>
	</header>

	<div id="wrapper">
		<div id="leftCol">
							<h2>Мои работы</h2>
			<div id="bigArticle">
				<img src="img/articles/1.png" alt="Статья 1" title="Статья 1">
				<h2>Encryption</h2>
				<p>Программное обеспечение позволяющее зашифровывать и дешифровывать различного размера исходные тексты, доступны виды шифрования: шифр Цезаря, Вижинера и шифрование биграммами</p>
				<a href="article.php">
					<div class="more">Далее</div>
				</a>
			</div>
			<div class="clear">
				<br>
			</div>
			<div class="article">
				<img src="img/articles/2.png" alt="Статья 2" title="Статья 2">
				<h2>Buble Shoter 2D</h2>
				<p>2D шутер для ПК, есть возможность пройти 6 волн, на каждой новой волне увеличивается количество противников, при соударении противника и игрока - проигрыш, противники могут отскакивать от стен, что позволяет увеличить продолжительность игры.</p>
				<a href="article.php">
					<div class="more">Далее</div>
				</a>
			</div>
			<div class="article">
				<img src="img/articles/3.png" alt="Статья 3" title="Статья 3">
				<h2>Морфологический анализатор</h2>
				<p>Программное обеспечение "Морфологический анализатор" считает количество вхождений букв и биграмм в русском тексте. Необходимо добавить текст (любого размера) и выбрать необходимый пункт меню: считать буквы либо считать биграммы.</p>
				<a href="article.php">
					<div class="more">Далее</div>
				</a>
			</div>
			<div class="clear">
				<br>
			</div>
			<div class="article">
				<img src="img/articles/4.png" alt="Статья 4" title="Статья 4">
				<h2>Морфологический анализатор</h2>
				<p>Программное обеспечение "Морфологический анализатор" считает количество вхождений букв и биграмм в русском тексте. Необходимо добавить текст (любого размера) и выбрать необходимый пункт меню: считать буквы либо считать биграммы.</p>
				<a href="article.php">
					<div class="more">Далее</div>
				</a>
			</div>
			<div class="article">
				<img src="img/articles/5.png" alt="Статья 5" title="Статья 5">
				<h2>Конференция</h2>
				<p>Метод оптимизации процесса интеграционного тестирования в среде Visual Studio.</p>
				<a href="article.php">
					<div class="more">Далее</div>
				</a>
			</div>
		</div>

		<div id="rightCol">
			<div id="banner">
				<img src="img/banner_1.png" alt="Баннер 1" title="Баннер 1">
			</div>
			<div id="banner">
				<img src="img/banner_2.png" alt="Баннер 2" title="Баннер 2">
			</div>
			<div id="banner">
				<img src="img/banner_3.png" alt="Баннер 3" title="Баннер 3">
			</div>
			<div id="banner">
				<img src="img/banner_4.png" alt="Баннер 4" title="Баннер 4">
			</div>
		</div>

	</div>

	<footer>
		<div id="social">
			<a href="https://vk.com/id56833040" title="Страница в Вк" target="_blank">
				<img src="img/vk.png" alt="Вк" title="Вконтакте">
			</a>
		</div>
		<div id="rights">
			Все права защищены &copy; <?=date ('Y')?>
		</div>
	</footer>

</body>
</html>