@charset: "utf-8";
*{
	margin: 0;
	padding: 0;
	outline: none; <!-- обводка -->
}
html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background-color: #DEDEDE;
	color: #333;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 1em;
	line-height: 135%;
}
img{
	max-width: 100%;
	height: auto;
	width: auto\9; /* \9 - for Internet Explorer 9 */
}
a{
	color: #000000;
	text-decoration: none;
	-webkit-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	transition: all.6s ease;
}
.clear{
	clear: both;
}
/* header */
header{
	width: 98%;
	float: left;
	padding: 1%;
	background-color: #fafafa;
	border-bottom: 2px solid silver;
	margin-bottom: 20px;
}
header #logo{
	width: 40%;
	float: left;
}
header #logo a{
	color: #000000;
	font-size: 2em;
	font-family: Times New Roman;
}
header #logo span{
	color: #e36565;
}
header #menuHead{
	width: 24%;
	float: left;
}
header #menuHead div{
	float: left;
	/*Обводка на надписи*/
	padding: 5px;
	background-color: #c8c8c8;
	border-radius: 10px;
}
header #menuHead div:hover{
	background-color: #e7e7e7;
}
header #regAuth{
	width: 24%;
	float: right;
	/*text-align: right;*/
}
header #regAuth div{
	float: right;
	/*Обводка на надписи*/
	padding: 5px;
	background-color: #c8c8c8;
	border-radius: 10px;
}
header #regAuth div:hover{
	background-color: #e7e7e7;
}

/* Style for all document */
#wrapper{
	width: 80%;
	margin-left: 10%;
	float: left;
}

/* Style for left column */

#wrapper #leftCol{
	width: 70%;
	margin-right: 10%;
	float: left;
}
#wrapper #leftCol #bigArticle{
	width: 78%;
	margin-left: 10%;
	background-color: #f6f6f6;
	padding: 1%;
	float: left;
}
#wrapper #leftCol h2{
	font-size: 2em;
	margin: 10px;
	text-align: center;
}

#wrapper #leftCol #bigArticle img, #wrapper #leftCol .article img{
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
#wrapper #leftCol #bigArticle h2, #wrapper #leftCol .article h2{
	font-weight: normal;
	font-size: 1.3em;
}
#wrapper #leftCol #bigArticle p, #wrapper #leftCol .article p{
	width: 90%;
	margin-left: 5%;
}
/* for button next */
#wrapper #leftCol #bigArticle div.more, #wrapper #leftCol .article div.more{
	padding: 5px;
	border-radius: 10px;
	background-color: #c8c8c8;
	width: 10%;
	text-align: center;
	margin-top: 10px;
}
#wrapper #leftCol #bigArticle div.more:hover, #wrapper #leftCol .article div.more:hover{
	background-color: #e7e7e7;
}
/* for small article */
#wrapper #leftCol .article{
	width: 40%;
	margin-left: 5%;
	background-color: #f6f6f6;
	padding: 1%;
	float: left;
}
#wrapper #leftCol .article div.more{
	width: 20%;
}

/* Style for page about us*/
 #wrapper #leftCol #about_us{
	width: 76%;
	margin-left: 10%;
	border: 1px solid silver;
	padding: 2%;
}
 #wrapper #leftCol #about_us h2{
 	text-align: center;
 	margin-bottom: 3%;
 }

/* Style for right column */
#wrapper #rightCol{
	width: 20%;
	float: left;
}
#wrapper #rightCol .banner{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

/* Footer */
footer{
	width: 98%;
	float: left;
	padding: 1%;
	background-color: #fafafa;
	border-bottom: 2px solid silver;
	margin-top: 10px;
}
footer #social{
	float: left;
	width: 50%;
}
footer #rights{
	float: right;
	width: 50%;
	text-align: right;
	font-size: 1.1em;
}
footer #social img{
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
}